<p id="notice"><%= notice %></p>

<p>
  <b>iTunesId:</b>
  <%= @i_tunes_game.iTunesId %>
</p>

<p>
  <b>Rating:</b>
  <%= @i_tunes_game.rating %>
</p>

<p>
  <b>Number of Reviews:</b>
  <%= @i_tunes_game.rating %>
</p>

<%= link_to 'Back', i_tunes_games_path %>
