<table>
  <tr>
    <th>Stars</th>
    <th>UserId</th>
    <th>UserName</th>
    <th>Helpful</th>
    <th>Review</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @i_tunes_games.each do |i_tunes_game| %>
  <tr>
    <td><%= i_tunes_game.rating %></td>
    <td><a href="/user/<%= i_tunes_game.uid %>"><%= i_tunes_game.uid %></a></td>
    <td><a href="/user/<%= i_tunes_game.uid %>"><%= i_tunes_game.username %></a></td>
    <td><%= i_tunes_game.helpful %>/<%= i_tunes_game.numhelpful %></td>
    <td><%= i_tunes_game.review %></td>
    <td><%= link_to 'Show', i_tunes_game %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @i_tunes_games %>
<%= page_entries_info @i_tunes_games %>