<table>
  <tr>
    <th>Stars</th>
    <th>iTunes</th>
    <th>Helpful</th>
    <th>Review</th>
    <th></th>
    <th></th>
  </tr>

<% @i_tunes_games.each do |i_tunes_game| %>
  <tr>
    <td><%= i_tunes_game.rating %></td>
	<td><a href="/itunes/<%= i_tunes_game.iTunesId %>"><%= i_tunes_game.iTunesId %></a></td>
    <td><%= i_tunes_game.helpful %>/<%= i_tunes_game.numhelpful %></td>
    <td><%= i_tunes_game.review %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @i_tunes_games %>
<%= page_entries_info @i_tunes_games %>